.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout--light {
  background-color: var(--light-bg);
  color: var(--text-dark);
}

.layout--dark {
  background-color: var(--dark-bg);
  color: var(--text-light);
}

.layout main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
