.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fbf6f3;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.layout--dark {
    background-color: #363636;
    color: #fbf6f3;
}