@font-face {
  font-family: 'Maragsa';
  src: url('../../assets/fonts/Maragsa.otf') format('opentype'),
    url('../../assets/fonts/Maragsa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Garet';
  src: url('../../assets/fonts/Garet-Bold.otf') format('opentype'),
    url('../../assets/fonts/Garet-Bold.ttf') format('truetype'),
    url('../../assets/fonts/Garet-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

.home {
  flex: 1;
  width: 100vw;
  background-color: #fbf6f3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8vw;
  padding-left: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  opacity: 0;
  animation: slideUpFade 1.5s ease-out forwards;
}

.home-title {
  font-family: 'Maragsa Display', 'Playfair Display', serif;
  font-size: 200px;
  color: #820a0a;
  margin: 0;
  line-height: 1;
  font-weight: normal;
  word-spacing: 0.15em;
  text-align: right;
}

.home-nav {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
  align-items: flex-end;
}

@media (max-width: 768px) {
  .home {
    padding-left: 5vw;
    padding-right: 5vw;
    justify-content: center;
  }

  .home-title {
    font-size: 15vw;
  }

  .home-nav {
    margin-top: 2rem;
  }

  .home-link {
    font-size: 1.2rem;
  }
}

.home-link {
  font-family: 'Garet', 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 0.3s;
  letter-spacing: 0.1em;
}

.home-link:hover {
  opacity: 0.6;
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}